---
http_interactions:
- request:
    method: post
    uri: http://veiculos.fipe.org.br/api/veiculos/ConsultarTabelaDeReferencia
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Codigo":262,"Mes":"novembro/2020 "},{"Codigo":261,"Mes":"outubro/2020
        "},{"Codigo":260,"Mes":"setembro/2020 "},{"Codigo":259,"Mes":"agosto/2020
        "},{"Codigo":258,"Mes":"julho/2020 "},{"Codigo":256,"Mes":"junho/2020 "},{"Codigo":255,"Mes":"maio/2020
        "},{"Codigo":253,"Mes":"abril/2020 "},{"Codigo":252,"Mes":"março/2020 "},{"Codigo":251,"Mes":"fevereiro/2020
        "},{"Codigo":250,"Mes":"janeiro/2020 "},{"Codigo":249,"Mes":"dezembro/2019
        "},{"Codigo":248,"Mes":"novembro/2019 "},{"Cod[...]
- request:
    method: post
    uri: http://veiculos.fipe.org.br/api/veiculos/ConsultarMarcas?codigoTabelaReferencia=262&codigoTipoVeiculo=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Label":"Acura","Value":"1"},{"Label":"Agrale","Value":"2"},{"Label":"Alfa
        Romeo","Value":"3"},{"Label":"AM Gen","Value":"4"},{"Label":"Asia Motors","Value":"5"},{"Label":"ASTON
        MARTIN","Value":"189"},{"Label":"Audi","Value":"6"},{"Label":"Baby","Value":"207"},{"Label":"BMW","Value":"7"},{"Label":"BRM","Value":"8"},{"Label":"Bugre","Value":"123"},{"Label":"Cadillac","Value":"10"},{"Label":"CBT
        Jipe","Value":"11"},{"Label":"CHANA","Value":"136"},{"Label":"CHANGAN","Value":"182"},{"Label":"CHERY",[...]
[...]
- request:
    method: post
    uri: http://veiculos.fipe.org.br/api/veiculos/ConsultarModelos?codigoMarca=6&codigoTabelaReferencia=262&codigoTipoVeiculo=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Modelos":[{"Label":"100 2.8 V6","Value":43},{"Label":"100 2.8 V6
        Avant","Value":44},{"Label":"100 S-4 2.2 Avant Turbo","Value":45},{"Label":"80
        2.0","Value":46},{"Label":"80 2.0 Avant","Value":47},{"Label":"80 2.6/ 2.8","Value":48},{"Label":"80
        2.6/2.8 Avant","Value":49},{"Label":"80 2.8 Cabriolet","Value":50},{"Label":"80
        S2 Avant","Value":51},{"Label":"A1 1.4 TFSI 122cv S-tronic 3p","Value":5496},{"Label":"A1
        2.0 TFSI Quattro 256cv 3p","Value":6293},{"Label":"A1 [...]
[...]
- request:
    method: post
    uri: http://veiculos.fipe.org.br/api/veiculos/ConsultarAnoModelo?codigoMarca=6&codigoModelo=6573&codigoTabelaReferencia=262&codigoTipoVeiculo=1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Label":"2017 Gasolina","Value":"2017-1"},{"Label":"2016 Gasolina","Value":"2016-1"},{"Label":"2015
        Gasolina","Value":"2015-1"},{"Label":"2014 Gasolina","Value":"2014-1"},{"Label":"2013
        Gasolina","Value":"2013-1"}]'
  recorded_at: Fri, 13 Nov 2020 23:29:03 GMT
[...]
- request:
    method: post
    uri: http://veiculos.fipe.org.br/api/veiculos/ConsultarValorComTodosParametros?anoModelo=2017&codigoMarca=6&codigoModelo=6573&codigoTabelaReferencia=262&codigoTipoCombustivel=1&codigoTipoVeiculo=1&tipoConsulta=tradicional&tipoVeiculo=carro
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Valor":"R$ 159.900,00","Marca":"Audi","Modelo":"Q5 2.0 16V TFSI 225cv
        Quattro Tiptronic","AnoModelo":2017,"Combustivel":"Gasolina","CodigoFipe":"008186-8","MesReferencia":"novembro
        de 2020 ","Autenticacao":"jcs6wr4rm4c3j","TipoVeiculo":1,"SiglaCombustivel":"G","DataConsulta":"sexta-feira,
        13 de novembro de 2020 20:29"}'
  recorded_at: Fri, 13 Nov 2020 23:29:04 GMT
recorded_with: VCR 6.0.0
