<% if flash.present? %>
  <% flash.each do |notice, message| %>
    <script>
      var toastHTML = '<span><%= "#{notice}: #{message}" %></span>';
      M.toast({html: toastHTML})
    </script>
  <% end %>
<% end %>
